<div class="row">
  <div class= "col-lg-6">
    <%= render "user_info",user: @user, book_new: @book_new %>
  </div>

  <div class="col-lg-6">
    <h1>Books</h1>
    <table class="table table-striped">
      <% @books.each do |book| %>
        <p>Title</p>
        <p>Opinion</p>
        <%= link_to book.title, book_path(book.id) %>
        <%= book.opinion %>
      <% end %>
    </table>
  </div>
</div>
